@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #e33822;
  --color-primary-hover: #e94a1d;
  --color-bg: #151515;
}

body {
  background-color: #151515;
  color: #ffffff;
}

.bg-background {
  background-color: var(--color-bg);
}

main {
  @apply m-4;
}

a {
  @apply text-primary transition-all text-primary-hover;
}

.text-primary {
  color: var(--color-primary);
}

.text-primary-hover:hover {
  color: var(--color-primary-hover);
}

.border-b-primary {
  border-bottom-color: var(--color-primary);
}

.underline-hover {
  text-decoration: none;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.underline-hover:hover,
.underline-hover:focus,
.underline-hover:active {
  background-size: 100% 0.1em;
}

.underline-hover-primary {
  text-decoration: none;
  background-image: linear-gradient(var(--color-primary), var(--color-primary));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.underline-hover-primary:hover,
.underline-hover-primary:focus,
.underline-hover-primary:active {
  background-size: 100% 0.1em;
}

.invisible {
  visibility: hidden;
  width: 0;
  height: 0;
}

.visible {
  visibility: visible;
  width: auto;
  height: auto;
}

article {
  @apply mx-auto w-full;
}
article * {
  @apply my-4;
}
article h1 {
  @apply text-3xl font-bold my-6 w-full border-b-gray-500 border-b-2 py-1;
}

article h2 {
  @apply text-2xl font-bold mb-6;
}

article h3 {
  @apply text-xl;
}

article ul {
  @apply list-disc list-inside;
}

article ol {
  @apply list-decimal list-inside;
}

article li {
  @apply my-2;
}

.h-screen-minus-header {
  height: calc(100vh - 4.5rem);
}

.big-logo-shadow {
  position: relative;
  z-index: 100;
  width: 1px;
  height: 1px;

  left: calc(45%);
  top: -40px;

  border-radius: 50%;
  background-color: #000;
  box-shadow:
    0 0 100px 30px #e33822,
    0 0 150px 60px #e94a1d,
    0 0 200px 90px #f05b16;
  animation: pulse 2s infinite;
}
